name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Generate snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: phishdestroy
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
      
      - name: Push to output branch
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          
          git checkout --orphan output
          git rm -rf .
          
          mv dist/* .
          git add *.svg
          git commit -m "Update snake animation" || echo "No changes"
          git push origin output --force